<div class="toolbar-container" touch-action="none">
    <div class="toolbar-placeholder">
        <div class="toolbar" style="display:table;width:100%;" ng-transclude>
            <!-- <div class="left">
                <a ng-show="leftButtonShow" ng-click="leftButtonActionFn()" class="tap-icon">
                    <i ng-show="leftButtonIconClass" class="{{leftButtonIconClass}}"></i>
                    {{leftButtonLabel}}
                </a>
            </div>
            <div class="center" ng-transclude></div>
            <div class="right">
                <a ng-show="rightButtonShow" ng-click="rightButtonActionFn()" class="tap-icon">
                    <i ng-show="rightButtonIconClass" class="{{rightButtonIconClass}}"></i>
                    {{rightButtonLabel}}
                </a>
            </div> -->
        </div>
    </div>
</div>